{% extends "phonebooklayout.html" %}

{% block listing %}
<div class="container">
<nav>
	<ul class="pagination">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
		<li><a href="#">A</a></li>
		<li><a href="#">B</a></li>
		<li><a href="#">C</a></li>
		<li><a href="#">D</a></li><br />
		<li><a href="#">E</a></li>
		<li><a href="#">F</a></li>
		<li><a href="#">G</a></li>
		<li><a href="#">H</a></li><br />
		<li><a href="#">I</a></li>
		<li><a href="#">J</a></li>
		<li><a href="#">K</a></li>
		<li><a href="#">L</a></li><br />
		<li><a href="#">M</a></li>
		<li><a href="#">N</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">P</a></li><br />
		<li><a href="#">Q</a></li>
		<li><a href="#">R</a></li>
		<li><a href="#">S</a></li>
		<li><a href="#">T</a></li><br />
		<li><a href="#">U</a></li>
		<li><a href="#">V</a></li>
		<li class="disabled"><a href="#">W</a></li><br />
		<li class="disabled"><a href="#">X</a></li>
		<li class="disabled"><a href="#">Y</a></li>
		<li><a href="#">Z</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</nav>
</div>
 {% endblock %}
